.container {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background: #c66352;
  color: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

  & > h2 {
    font-size: 2rem;
    cursor: pointer;
  }
}

.searchInputContainer {
  position: relative;
  height: 35px;

  & > input {
    background: #a04545;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: none;
    padding: 0.3rem;
    border-radius: 3px 0 0 3px;
    height: 100%;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  & > button {
    height: 100%;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border: none;
    background: #9e2626;
    color: #fff;
    border-radius: 0 3px 3px 0;
    border: 1px solid #fff;
    transition: background-color linear 0.1s;

    &:hover {
      background: #831f1f;
    }

    &:disabled {
      background-color: rgba(158, 38, 38, 0.4);
      cursor: not-allowed;
    }
  }
}

.dropdown-container {
  position: absolute;
  width: 100%;
  background: #c66352;

  & > p {
    padding: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      background: #831f1f;
    }
  }
}
